body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px auto 50px;
  background-image: url(../../images/park.jpg);
  background-size: 100%;
}

nav {
  display: grid;
  grid-template: 50px / 100px auto 150px;
  background-color: #4fefef;
}

footer {
  grid-column: 1 / -1;
  position: absolute;
  bottom: 0;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.right-nav-link {
  color: white;
}

#nav-pup {
  height: 40px;
}

#left-nav {
  padding: 5px;
  padding-left: 20px;
}
